<h1>Name: <%= @cat.name%></h1>
<h1>Species: <%= @cat.species%></h1>
<h1>Colour: <%= @cat.colour%></h1>
<h1>Price: <%= @cat.price%></h1>

<br>
<%= link_to 'Edit', edit_cat_path %>
<%= link_to 'Back', root_path %>